# Modelo de Previsão de Clima com K-Nearest Neighbors (KNN)

## 1. Importações e Configuração
Nesta seção, importaremos as bibliotecas necessárias para o desenvolvimento do modelo.

In [6]:
import pandas as pd
import logging
from backend.app.utils.predication.knn.csv_data_loader import CSVDataLoader
from backend.app.utils.predication.knn.data_preprocessor import DataPreprocessor
from backend.app.utils.predication.knn.knn_model import KNNModel

# Ativando o logging
logging.basicConfig(level=logging.INFO)

## 2. Carregar Dados de Clima
Nesta seção, carregaremos os dados de entrada que serão usados para treinar e testar o modelo KNN.

In [7]:
import os

# Exemplo de carregamento de dados
file = os.path.join(os.getcwd(), 'dataset/points.csv')
data_loader = CSVDataLoader(file)
data = data_loader.load_data()
display(data.head())

,age,basin,lat,long,climate,paleontology_weight,lithology_weight,palynomorphs_weight,geochemistry_weight
0,145,camamu-almada,-13.83,-38.5,h,3,2,1,4
1,145,camamu-almada,-13.83,-38.5,h,0,4,3,2
2,145,camamu-almada,-13.83,-38.5,h,2,1,0,4
3,140,araripe,-7.50,-39.5,h,4,3,1,0
4,140,Camamu-almada,-13.83,-38.5,h,1,0,2,3

## 3. Pré-processamento dos Dados

In [8]:
climate_mapping = {'h': 1, 's': 2, 't': 3, 'd': 4}
preprocessor = DataPreprocessor(climate_mapping)
processed_data = preprocessor.preprocess(data)
display(processed_data.head())

,age,basin,lat,long,climate,paleontology_weight,lithology_weight,palynomorphs_weight,geochemistry_weight
0,145,camamu-almada,-13.83,-38.5,1,3,2,1,4
1,145,camamu-almada,-13.83,-38.5,1,0,4,3,2
2,145,camamu-almada,-13.83,-38.5,1,2,1,0,4
3,140,araripe,-7.50,-39.5,1,4,3,1,0
4,140,Camamu-almada,-13.83,-38.5,1,1,0,2,3

## 4. Treinamento do Modelo

In [9]:
knn_model = KNNModel(n_neighbors=3)
knn_model.train(processed_data)

INFO:root:Model training completed successfully.

## 5. Previsão com o Modelo Treinado

In [10]:
# Exemplo de previsão
prediction = knn_model.predict(lat=10.0, lon=20.0, age=140, paleontology_weight=0, lithology_weight=3, palynomorphs_weight=2, geochemistry_weight=1)
print(f'Clima previsto: {prediction}')

# Step 1: Load the `points_to_predicate` file
points_to_predicate_path = os.path.join(os.getcwd(), 'dataset/points_to_predict.csv')
points_to_predicate_loader = CSVDataLoader(points_to_predicate_path)
points_to_predicate_data = points_to_predicate_loader.load_data()
display(points_to_predicate_data.head())

# Step 2: Perform predictions for each point
predictions = []
for index, row in points_to_predicate_data.iterrows():
    prediction = knn_model.predict(
        lat=row['lat'],
        lon=row['long'],
        age=row['age'],
        paleontology_weight=row['paleontology_weight'],
        lithology_weight=row['lithology_weight'],
        palynomorphs_weight=row['palynomorphs_weight'],
        geochemistry_weight=row['geochemistry_weight']
    )
    predictions.append(prediction)

# Step 3: Add predictions to the DataFrame and display
points_to_predicate_data['predicted_climate'] = predictions
display(points_to_predicate_data)

Clima previsto: 2

,age,lat,long,paleontology_weight,lithology_weight,palynomorphs_weight,geochemistry_weight
0,115,-6.683214,-46.732696,0,0,0,0
1,115,-7.233546,-51.435535,0,0,0,0
2,115,-10.835720,-48.033481,0,0,0,0
3,115,-11.085871,-45.081700,0,0,0,0
4,115,-14.938196,-47.333058,0,0,0,0

ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0
ERROR:root:{145: KNeighborsClassifier(n_neighbors=3), 140: KNeighborsClassifier(n_neighbors=3)}
ERROR:root:Error during prediction: No trained model found for age: 115.0

,age,lat,long,paleontology_weight,lithology_weight,palynomorphs_weight,geochemistry_weight,predicted_climate
0,115,-6.683214,-46.732696,0,0,0,0,None
1,115,-7.233546,-51.435535,0,0,0,0,None
2,115,-10.835720,-48.033481,0,0,0,0,None
3,115,-11.085871,-45.081700,0,0,0,0,None
4,115,-14.938196,-47.333058,0,0,0,0,None
5,115,-16.138921,-50.284840,0,0,0,0,None
6,115,-19.240793,-49.034085,0,0,0,0,None
7,115,-19.190763,-45.582002,0,0,0,0,None
8,115,-23.993662,-49.734508,0,0,0,0,None
9,115,-27.095534,-50.484961,0,0,0,0,None
10,115,-29.246833,-46.932817,0,0,0,0,None
11,115,-26.295051,-36.126294,0,0,0,0,None
12,115,-26.245021,-39.878559,0,0,0,0,None
13,115,2.922584,-38.777895,0,0,0,0,None
14,115,-5.332399,-31.573546,0,0,0,0,None
15,115,-9.384844,-31.623577,0,0,0,0,None
16,115,-11.636203,-29.672399,0,0,0,0,None
17,115,-6.783274,-50.985263,0,0,0,0,None
18,115,-7.783878,-46.032273,0,0,0,0,None
19,115,-10.885750,-48.683874,0,0,0,0,None
20,115,-11.386052,-45.331851,0,0,0,0,None
21,115,-14.988227,-50.534991,0,0,0,0,None
22,115,-20.091307,-51.135353,0,0,0,0,None
23,115,-19.390884,-45.381881,0,0,0,0,None
24,115,-16.489132,-47.583209,0,0,0,0,None
25,115,-23.943632,-49.334266,0,0,0,0,None
26,115,-26.495172,-50.484961,0,0,0,0,None
27,115,-29.446953,-45.832153,0,0,0,0,None
28,115,-26.745323,-36.226355,0,0,0,0,None
29,115,-25.844779,-40.729072,0,0,0,0,None
30,115,1.571769,-39.178136,0,0,0,0,None
31,115,-6.383033,-31.573546,0,0,0,0,None
32,115,-9.735056,-30.973184,0,0,0,0,None
33,115,-11.836324,-33.024422,0,0,0,0,None